* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #000000;
  /* border: 1px solid white; */
}

.logo {
  position: absolute;
  width: 164.78px;
  height: 26.62px;
  left: 50px;
  top: 93.17px;
}


.rectangle-1 {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 170px;
  height: 35px;
  left: 771px;
  top: 67px;

  background: #202020;
  border-radius: 20px;
}

.rectangle-1 span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.group37 span {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  top: 74px;
  color: #ffffff;
}

.headphones {
  width: 97px;
  height: 20px;
  left: 1074px;
}

.speakers {
  width: 77px;
  height: 20px;
  left: 1201px;
}

.support {
  width: 68px;
  height: 20px;
  left: 1302px;
}

.rectangle-2 img {
  position: absolute;
  width: 100%;
  height: 606px;
  left: 0px;
  top: 148px;

  /* background: url(.jpg), #000000; */
}

.rectangle-2 h1 {
  position: absolute;
  width: 655px;
  height: 150px;
  left: 50px;
  top: 336px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 68px;
  text-align: center;
  letter-spacing: 0.01em;

  color: #ffffff;
}

.rectangle-3 img {
  position: absolute;
  width: 842px;
  height: 275px;
  /* left: 598px; */
  right: 0;
  top: 314px;
}

.rectangle-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle-4 button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.06em;

  color: #000000;

  position: absolute;
  width: 274px;
  height: 61px;
  left: 187px;
  top: 617px;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(234, 232, 232, 0.5);
  border-radius: 50px;
  border: none;
}

.w {
  position: absolute;
  width: 543px;
  height: 220px;
  left: 149px;
  top: 971px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  /* or 112% */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.select-color {
  position: absolute;
  width: 385px;
  height: 24px;
  left: 149px;
  top: 1215px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;
}

.border {
  box-sizing: border-box;

  position: absolute;
  width: 40px;
  height: 40px;
  left: 149px;
  top: 1255px;

  border: 3px solid #666666;
  border-radius: 50%;
}

.color5 {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 156.5px;
  top: 1262.5px;

  background: #666666;
  border-radius: 50%;
}

.color1 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 205px;
  top: 1259px;

  background: #feb554;
  border-radius: 50%;
}

.color2 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 253px;
  top: 1259px;

  background: #606651;
  border-radius: 50%;
}

.color3 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 301px;
  top: 1259px;

  background: #edab7b;
  border-radius: 50%;
}

.color4 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 349px;
  top: 1259px;

  background: #c56a72;
  border-radius: 50%;
}

.silver {
  position: absolute;
  width: 49px;
  height: 24px;
  left: 149px;
  top: 1303px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;
}

.price {
  position: absolute;
  width: 90px;
  height: 36px;
  left: 149px;
  top: 1360px;

  font-family: "SF Pro Rounded";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  /* identical to box height, or 100% */

  color: #ffffff;
}

.rectangle-14 {
  position: absolute;
  width: 190px;
  height: 48px;
  left: 346px;
  top: 1351px;

  background: #ffffff;
  border-radius: 50px;
  border: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  text-transform: uppercase;

  color: #000000;
}

.bose1 img {
  position: absolute;
  width: 398px;
  height: 548px;
  left: 700px;
  top: 917px;
  z-index: 1;
}

.union img {
  position: absolute;
  width: 500px;
  height: 719px;
  /* left: 942px; */
  top: 768px;
  right: 0;
  /* background: #ffffff; */
}


/* .polygon-5 img{
  position: absolute;
  width: 1381px;
  height: 409px;
  left: 932.58px;
  top: 1818px;

  background: #c4c4c4;
  border-radius: 76px;
  transform: rotate(-90deg);
} */

/* .rectangle-13 img{
  position: absolute;
  width: 280px;
  height: 719px;
  left: 1162px;
  top: 768px;

  background: #292929;
} */

/* .eclipse {
  position: absolute;
  width: 398px;
  height: 48px;
  left: 830px;
  top: 1439px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(112, 112, 112, 0) 100%
  );
  filter: blur(5px);
} */

.buy {
  position: absolute;
  width: 490px;
  height: 18px;
  left: 45px;
  top: 1595px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 18px;
  /* identical to box height, or 45% */

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

/* .fa-solid {
  position: absolute;
  left: 89px;
  right: 89.18%;
  top: 1772px;
  bottom: 72.01%;

  background-color: #ffffff;
  transform: rotate(180deg);
} */

.img-1 {
  position: absolute;
  width: 203px;
  height: 203px;
  left: 146.9px;
  top: 1704px;

  /* background: url(media_3672218.jpg); */
  /* border: 1px solid #d9d9d9; */
}

.img-2 {
  position: absolute;
  width: 204px;
  height: 203px;
  left: 381.9px;
  top: 1704px;

  /* background: url(media_3672220.jpg); */
  border: 1px solid #d9d9d9;
  border-radius: 12px;
}

.img-3 {
  position: absolute;
  width: 203px;
  height: 203px;
  left: 618.9px;
  top: 1704px;

  /* background: url(media_3672216.jpg); */
  border: 1px solid #d9d9d9;
  border-radius: 12px;
}

.img-4 {
  position: absolute;
  width: 205px;
  height: 203px;
  left: 853.9px;
  top: 1704px;

  /* background: url(media_3672228.jpg); */
  border: 1px solid #d9d9d9;
  border-radius: 12px;
}

.img-5 {
  box-sizing: border-box;

  position: absolute;
  width: 202px;
  height: 203px;
  left: 1090.9px;
  top: 1704px;

  /* background: url(media_3672226.jpg); */
  border: 1px solid #d9d9d9;
  border-radius: 12px;
}

.w1 {
  position: absolute;
  width: 655px;
  height: 221px;
  left: 51px;
  top: 2194px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  /* font-size: 38px; */
  line-height: 72px;
  /* or 189% */

  /* display: flex;
align-items: center;
text-align: center; */

  color: #ffffff;

  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}

.rectangle-15 {
  display: flex;
  align-items: center;
  text-align: center;
}

.rectangle-15 img {
  position: absolute;
  width: 100%;
  height: 606px;
  left: 0px;
  top: 1998px;
}

.rectangle-17 button {
  position: absolute;
  width: 274px;
  height: 61px;
  left: 241px;
  top: 2445px;

  background: #ffffff;
  border-radius: 50px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.06em;

  color: #000000;
  border: none;
}

.rectangle-17 {
  display: flex;
  align-items: center;
  text-align: center;
}

.rectangle-16 img {
  position: absolute;
  width: 583px;
  height: 384px;
  left: 807px;
  top: 2122px;
}

.group26 h1 {
  position: absolute;
  width: 852px;
  height: 68px;
  left: 294px;
  top: 2661px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  /* or 112% */

  text-align: center;

  color: #ffffff;
}

.group26 p {
  position: absolute;
  width: 792px;
  height: 120px;
  left: 324px;
  top: 2745px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  /* or 160% */

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.image-bose img {
  position: absolute;
  width: 950px;
  height: 950px;
  left: 238.09px;
  top: 2894px;
}

.rectangle-27 {
  position: absolute;
  width: 349px;
  height: 106px;
  left: 945.09px;
  top: 3091px;

  background: #ffffff;
  /* shadow */

  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  font-family: "Poppins";
  font-style: normal;
}

.rectangle-29 {
  position: absolute;
  width: 179px;
  height: 101px;
  left: 965px;
  top: 3726px;

  background: black;
  /* box-shadow: 0px 0px 45px rgba(255, 255, 255, 0.5); */

  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle-29 p {
  position: absolute;
  /* width: 179px;
  height: 29px;
  left: 949px;
  top: 3777px; */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  /* identical to box height, or 115% */

  text-align: center;

  color: #760000;
}

.group-26 h1 {
  position: absolute;
  width: 543px;
  height: 136px;
  left: 106px;
  top: 4036.18px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  /* or 112% */

  color: #ffffff;
}

.group-26 p {
  position: absolute;
  width: 558px;
  height: 113px;
  left: 106px;
  top: 4188.18px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  /* or 160% */

  color: #ffffff;
}

.image-2 img {
  position: absolute;
  width: 416px;
  height: 600px;
  left: 836.98px;
  top: 3946.78px;

  background: #c4c4c4;
  border-radius: 20px;
}

.rectangle-28 {
  position: absolute;
  height: 193.5537567138672px;
  width: 139px;
  left: 1148.0000305175781px;
  top: 4379.1845703125px;
  border-radius: 12px;

  background: #ffffff;
  /* shadow */

  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.group13 h1 {
  position: absolute;
  width: 553.49px;
  height: 76px;
  left: 50px;
  top: 4667px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
  /* or 180% */

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.group13 button {
  position: absolute;
  width: 193.67px;
  height: 48px;
  left: 1196px;
  top: 4681px;

  border: 2px solid white;
  background-color: #000000;

  font-family: "poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  border-radius: 30px;
  /* identical to box height, or 133% */

  /* display: flex;
  align-items: center;
  text-transform: uppercase; */

  color: #ffffff;
}

.card1 {
  position: absolute;
  width: 289.24px;
  height: 495px;
  left: 50px;
  top: 4783px;

  background: #ffffff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.card1 img {
  position: absolute;
  width: 158.19px;
  height: 214px;
  left: 88px;
  top: 51px;
}

.card1 h2 {
  position: absolute;
  left: 38px;
  right: 0.12%;
  top: 302px;
  bottom: 32.14%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #000000;
}

.card1 span {
  position: absolute;
  height: 30px;
  left: 38px;
  right: 65.3%;
  top: 415px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.3;
}

.card2 {
  position: absolute;
  width: 289.24px;
  height: 495px;
  left: 394.92px;
  top: 4783px;

  background: #ffffff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.card2 img {
  position: absolute;
  width: 218.14px;
  height: 213.79px;
  left: 51px;
  top: 56px;
}

.card2 h2 {
  position: absolute;
  left: 38px;
  right: 0.12%;
  top: 302px;
  bottom: 32.14%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #000000;
}

.card2 span {
  position: absolute;
  height: 30px;
  left: 38px;
  right: 65.72%;
  top: 415px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.3;
}

.card3 {
  position: absolute;
  width: 289.24px;
  height: 495px;
  left: 749.84px;
  top: 4783px;

  background: #ffffff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.card3 img {
  position: absolute;
  width: 181.19px;
  height: 214px;
  left: 74px;
  top: 51px;
}

.card3 h2 {
  position: absolute;
  left: 38px;
  right: 25.69%;
  top: 302px;
  bottom: 23.67%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #000000;
}

.card3 span {
  position: absolute;
  height: 30px;
  left: 38px;
  right: 37.16%;
  top: 415px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.3;
}

.card4 {
  position: absolute;
  width: 289.24px;
  height: 495px;
  left: 1094.76px;
  top: 4783px;

  background: #ffffff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.card4 img {
  position: absolute;
  width: 149.17px;
  height: 214px;
  left: 89px;
  top: 51px;
}

.card4 h2 {
  position: absolute;
  left: 38px;
  right: 0.35%;
  top: 302px;
  bottom: 23.67%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #000000;
}

.card4 span {
  position: absolute;
  height: 30px;
  left: 38px;
  right: 7.68%;
  top: 415px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.3;
}

.logo1 img {
  position: absolute;
  width: 649.98px;
  height: 105px;
  left: 395px;
  top: 5469px;
}

.text1 p {
  position: absolute;
  width: 1126px;
  height: 72px;
  left: 157px;
  top: 5618px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 72px;
  /* identical to box height, or 277% */

  text-align: center;

  color: #ffffff;
}

.rectangle-30 button {
  position: absolute;
  width: 274px;
  height: 61px;
  left: 607px;
  top: 5715px;

  background: #ffffff;
  border-radius: 50px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #000000;
}

.rectangle-31 {
  position: absolute;
  width: 100%;
  height: 154px;
  /* left: -18px; */
  top: 5852px;

  background: #1e1e1e;
}

.fb {
  position: absolute;
  left: 5.97%;
  right: 92.29%;
  top: 50px;
  bottom: 12.27%;
}

.yt {
  position: absolute;
  left: 13.89%;
  right: 80.58%;
  top: 50px;
  bottom: 12.27%;
}

.msg {
  position: absolute;
  left: 72.74%;
  right: 24.18%;
  top: 50px;
  bottom: 12.4%;
}
.text2 h1 {
  position: absolute;
  width: 441px;
  height: 195px;
  left: 157px;
  top: 6168px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 65px;
  /* or 186% */

  letter-spacing: 0.02em;

  color: #ffffff;
}

.support p {
  position: absolute;
  width: 331px;
  height: 350px;
  left: 732px;
  top: 6168px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  /* or 250% */

  letter-spacing: 0.02em;

  color: #c5c5c5;
}

.policy p {
  position: absolute;
  width: 240px;
  height: 300px;
  left: 1125px;
  top: 6168px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  /* or 250% */

  letter-spacing: 0.02em;

  color: #c5c5c5;
}

.line hr {
  position: absolute;
  width: 793px;
  height: 0px;
  left: 572px;
  top: 6590px;

  border: 1px solid #c5c5c5;
}

.logo3 img {
  position: absolute;
  width: 247.17px;
  height: 30px;
  left: 156px;
  top: 6641px;
}

.para5 p {
  position: absolute;
  width: 159px;
  height: 30px;
  left: 1180px;
  top: 5907px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  
  /* text-align: center; */
  letter-spacing: 0.06em;

  color: #ffffff;
}

.para5{
    display: flex;
  justify-content: center;
  align-items: center;
}